.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.author-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-image-container {
  height: 50px;
  width: 50px;
}
.big-image-title {
  height: 300px;
  width: 450px;
}
